* {
  box-sizing: border-box;
}

.calc-body {
  margin: auto;
  width: 400px;
  background-color: #000;
}

.calc-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5%;
}

.calc-button {
  width: 24.5%;
  color: #333;
  background-color: #ccc;
  padding: 2em;
  border: none;
  font-size: 24px;
}

.calc-button.double {
  /* Width of double button is two buttons plus 1 gap */
  /* 
  ** Gap comes from 4 * 24.5 = 98 so 2% width left to share
  ** amongst buttons on "normal" row with 4 buttons. Normal
  ** 4 button row will have three gaps so each gap is 2/3 %
  ** wide. We round to 0.7
  */
  width: calc((2 * 24.5%) + 0.7%);
}

.calc-button.triple {
  /* width of triple button is three buttons plus 2 gaps */
  width: calc((3 * 24.5%) + 1.4%);
}

.calc-button:last-child {
  background-color: #df974c;
  color: #fff;
}
